<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout}">

<div layout:fragment="content">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>게시글 번호</th>
				<th>역 할</th>
				<th>프로젝트 이름</th>
				<th>프로젝트 설명</th>
				<th>기간</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>[[${experience.eno}]]</td>
				<td>[[${experience.role}]]</td>
				<td>[[${experience.pname}]]</td>
				<td>[[${experience.desc}]]</td>
				<td>[[${experience.day}]]</td>
			</tr>
		</tbody>		
	</table>
	<a class="btn btn-primary" th:href="@{/experience/} + ${experience.eno} + @{/delete}">게시글 삭제</a>
	<a class="btn btn-primary" th:href="@{/experience/} + ${experience.eno} + @{/update}">게시글 수정</a>
</div>

